# PostgreSQL Database (Pooled Connection String for Neon / PgBouncer)
DATABASE_URL="postgresql://user:password@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"

# Upstash Redis Rate Limiter
UPSTASH_REDIS_REST_URL="https://sample-redis.upstash.io"
UPSTASH_REDIS_REST_TOKEN="sample_upstash_rest_token"

# Public API URL (for consumer app server-side fetching)
NEXT_PUBLIC_API_URL="http://localhost:3000"
